<div class="cartitem-container">
    <a href="<%= url %>/product/<%= item.product.id %>">
        <img class="cartitem-img" src="<%= url %>/img/BeispielImg.png" />
        <span class="cartitem-name">
            <%= item?.product?.name %>
        </span>
        <span class="cartitem-id">
            ID: <%= item?.product?.id %>
        </span>
    </a>

    <div class="dropdown-container cartitem-amount cartitem-dropdown">
        <button class="cartitem dropdown-button" onclick="toggleDropdown(this)">
            <svg class="dropdown-arrow cartitem" viewBox="0 -4.5 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <title>arrow_up [#337]</title>
                    <desc>Created with Sketch.</desc>
                    <defs> </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Dribbble-Light-Preview" transform="translate(-260.000000, -6684.000000)" fill="#000000">
                            <g id="icons" transform="translate(56.000000, 160.000000)">
                                <path
                                    d="M223.707692,6534.63378 L223.707692,6534.63378 C224.097436,6534.22888 224.097436,6533.57338 223.707692,6533.16951 L215.444127,6524.60657 C214.66364,6523.79781 213.397472,6523.79781 212.616986,6524.60657 L204.29246,6533.23165 C203.906714,6533.6324 203.901717,6534.27962 204.282467,6534.68555 C204.671211,6535.10081 205.31179,6535.10495 205.70653,6534.69695 L213.323521,6526.80297 C213.714264,6526.39807 214.346848,6526.39807 214.737591,6526.80297 L222.294621,6534.63378 C222.684365,6535.03868 223.317949,6535.03868 223.707692,6534.63378"
                                    id="arrow_up-[#337]"> </path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <span>
                Anzahl: <%= item?.amount %>
            </span>
        </button>
        <div class="cartitem dropdown-content hide ">
            <% for(let i=1; i<=5; i++){ %>
                <button class="dropdown-item"
                    onclick="handleUpdateCartItemAmount('<%= item.id %>' ,'<%= i %>', '<%= token %>')">
                    <%= i %>
                </button>
                <% } %>
        </div>
    </div>

    <button class="trash-icon-button cartitem-delete" onclick="handleDeleteCartItem('<%= item.id %>', '<%= token %>')">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path
                    d="M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M14 10V17M10 10V17"
                    stroke="#f70808" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </svg>
    </button>
</div>


<script>
    function toggleDropdown(button) {
        const container = button.parentElement;
        const content = container.querySelector('.dropdown-content.cartitem');
        const arrow = container.querySelector('.dropdown-arrow.cartitem');
        arrow.classList.toggle('rotated')
        content.classList.toggle('hide');
    }
</script>