<div id="checkoutPage-content">
  <div class="checkout-layout">
    <div class="checkoutItems-container">
      <div class="checkoutItems-inner-container">
        <% cartItems.forEach(cI => { %>
          <div class="checkout-card">
            <div class="image-wrapper">
              <img src="<%= cI.product?.image || 'http://localhost:3000/img/BeispielImg.png' %>" alt="Produktbild">
            </div>
            <div class="products-info">
              <h2><%= cI.product.name %></h2>
              <p><%= cI.product.description %></p>
            </div>
            <div class="price-buy">
              <span class="price"><%= (cI.product.price / 100).toFixed(2) %> €</span>
            </div>

            <div class="dropdown-container checkoutItem-amount">
              <button class="checkoutItem dropdown-button" onclick="toggleDropdown(this)">
                <svg class="dropdown-arrow checkoutItem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7.82054 20.7313C8.21107 21.1218 8.84423 21.1218 9.23476 20.7313L15.8792 14.0868C17.0505 12.9155 17.0508 11.0167 15.88 9.84497L9.3097 3.26958C8.91918 2.87905 8.28601 2.87905 7.89549 3.26958C7.50497 3.6601 7.50497 4.29327 7.89549 4.68379L14.4675 11.2558C14.8581 11.6464 14.8581 12.2795 14.4675 12.67L7.82054 19.317C7.43002 19.7076 7.43002 20.3407 7.82054 20.7313Z" fill="#0F0F0F"></path> </g></svg></svg>
                <span>Anzahl: <%= cI.quantity || 1 %></span>
              </button>
              <div class="cartitem dropdown-content hide">
                <% for(let i = 1; i <= 5; i++) { %>
                  <button class="dropdown-item" onclick="handleUpdateCartItemAmount('<%= cI.product.id %>' ,'<%= i %>', '<%= token %>')">
                    <%= i %>
                  </button>
                <% } %>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

    <div class="summary-box-container">
      <div class="summary-amount">
        Artikel: &emsp;&emsp;&emsp;&emsp;<%= cartItems.reduce((sum, item) => sum + (item.quantity || 1), 0) %>
      </div>
      <hr class="summary-divider" />
      <p class="summary-total-price">
        Gesamtpreis: &emsp;&emsp;&emsp;&emsp;<%= (cartItems.reduce((sum, item) => sum + item.product.price * (item.quantity || 1), 0) / 100).toFixed(2) %> €
      </p>
      <div class="checkoutPage-button-container">
        <a href="/cart">
          <button class="checkout-button-interrupt">Abbruch</button>
        </a>
        <a href="/checkout/confirm">
          <button class="checkout-button-buy" onclick="handleCheckout('<%= token %>')">Bestellen</button>
        </a>
      </div>
    </div>

  </div>
</div>


<script>
    function toggleDropdown(button) {
        const container = button.parentElement;
        const content = container.querySelector('.dropdown-content');
        const arrow = container.querySelector('.dropdown-arrow');
        arrow.classList.toggle('rotated')
        content.classList.toggle('hide');
    }
</script>
