<div id="orderPage-content">
    <% orders.forEach((order) => { %>
        <div id="order-container">
            <h3 class="Bestelldatum"> <%= order.formattedDate %></h3>
            <% order.items.forEach((item) => { %>
                <div id="OrderhistoryItem">
                    <a href="/product/<%= item.product.id %>" class="produktlink">
                        <img src="<%= `/img/cartItem/${item?.product?.id}.png`%>" alt="Produktbild">
                        <div> 
                            <p>Artikel-Name: <%= item.product.name %></p>
                            <p>Artikel-Nr.: <%= item.product.id %></p>
                        </div>
                    </a>
                    <div id="buttons">
                        <button class="info">Preis: <%= item.product.price / 100 %> €</button>
                        <button class="info">Anzahl: <%= item.amount %></button>
                        <button id="buy" onclick="handleAddtocart('<%= item.product.id %>', '<%= token %>')">In den Warenkorb</button>
                    </div>
                </div>
            <% }) %>
        </div>
    <% }) %>
</div>