<div id="orderPage-content">
    <% orderItems.forEach((item)=>{%>
        <div id="OrderhistoryItem">
                <a href="/products/<%= item.product.id %>" class="produktlink">
                    <img src="https://via.placeholder.com/200" alt="Testbild">
                    <div> 
                        <p>Artikel-Name: <%=item.product.name %></p>
                        <p>Artikel-Nr.:<%=item.product.id %></p>
                    </div>
                </a>
            <div id="buttons">
                <button class="info">Preis: <%=item.product.price/100 %> €</button>
                <button class="info">Anzahl: <%=item.amount %></button>
                <button id="buy" onclick="handleAddtocart('<%= item.product.id %>', '<%= token %>')">In den Warenkorb</button>
            </div>
        </div>
    <%}) %>
</div>
