<div id="orderPage-content">
    <% orderItems.forEach((item)=>{%>
        <div id="OrderhistoryItem">
            <div id="Informationen">
            <img src="https://via.placeholder.com/200" alt="Testbild">
            <div> 
                <p>Artikel-Name: <%=item.product.name %></p>
                <p>Artikel-Nr.:<%=item.product.id %></p>
            </div>
            </div>
            <div id="buttons">
                <button>Preis: <%=item.product.price/100 %> €</button>
                <button>Anzahl: <%=item.amount %></button>
                <button onclick="handleAddtocart('<%= item.product.id %>', '<%= token %>')">In den Warenkorb</button>
            </div>
        </div>
    <%}) %>
</div>
