<div id="productPage-content">
    <!-- Hier werden die Beispiel Componenten geladen. -->

    <div class="products-grid">
        <% wishlists.forEach(wishlist => {%>
            <div class="products-card">
                <a href="http://localhost:3000/wishlist/<%= wishlist.id %>">
                    <div class="products-info">
                        <h2><%= wishlist.name %></h2>
                        <p><%= wishlist.description %></p>
                    </div>
                </a>
                <button class="add-button" onclick="handleAddProductToWishlist('<%= token %>', '<%=wishlist.id%>', '<%= productId %>');">Hinzufügen</button>
            </div>
        <% }) %>
        <button class="newprofile" onclick="document.getElementById('wishlistCreateOverlay').style.display = 'flex';">
        <p> Neue Wunschliste erstellen </p>
    </button>
    </div>
</div>


<!-- Wunschliste-Erstellen-Overlay -->
<div id="wishlistCreateOverlay" class="overlay" style="display: none">
    <div class="modal">
        <h2> Wunschliste erstellen </h2>
        <form id="newWishlist" onsubmit='document.getElementById("wishlistCreateOverlay").style.display = "none"; handleCreateWishlist(event, "<%=token%>");'>
            <div class="Felder">
                <div class="Feld1">
                    <label class="Bezeichnung" for="name">Name</label>
                    <input type="text" id="name-new" class="Eingabefeld1" name="name-new" required>
                </div>
                <div class="Feld2">
                    <label class="Bezeichnung" for="description">Beschreibung</label>
                    <input type="text" id="description-new" class="Eingabefeld2" name="description-new" required>
                </div>
            </div>
            <div class="button-wrapper">
                <button type="submit">Wunschliste erstellen</button>
                <button id="abbrechen" onclick='document.getElementById("wishlistCreateOverlay").style.display = "none";'>Abbrechen</button>
            </div>
        </form>
    </div>
</div>