<div id="productPage-content">
    <!-- <h1><%= title %></h1> -->
    <!-- Hier werden die Beispiel Componenten geladen. -->
    
    <div class="products-grid">
        <% products.forEach(products => {%>
        <div class="products-card">
            <div class="image-wrapper">
            <img src="<%= products.image || '/img/BeispielImg.png' %>" alt="Produktblid">
            </div>
            <div class="products-info">
                <h2><%= products.name %></h2>
                <p><%= products.description %></p>
                <div class="price-buy">
                    <span class="price"><%= products.price %>.-</span>
                    <button class="buy-button">Kaufen</button>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
