<div class="adminPage-user-container">
    <svg
        class="profilePicture"
        viewBox="0 0 20 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        fill="#000000"
    >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
            <title>profile_round [#1342]</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g
                id="Page-1"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
            >
                <g
                    id="Dribbble-Light-Preview"
                    transform="translate(-140.000000, -2159.000000)"
                    fill="#000000"
                >
                    <g id="icons" transform="translate(56.000000, 160.000000)">
                        <path
                            d="M100.562548,2016.99998 L87.4381713,2016.99998 C86.7317804,2016.99998 86.2101535,2016.30298 86.4765813,2015.66198 C87.7127655,2012.69798 90.6169306,2010.99998 93.9998492,2010.99998 C97.3837885,2010.99998 100.287954,2012.69798 101.524138,2015.66198 C101.790566,2016.30298 101.268939,2016.99998 100.562548,2016.99998 M89.9166645,2004.99998 C89.9166645,2002.79398 91.7489936,2000.99998 93.9998492,2000.99998 C96.2517256,2000.99998 98.0830339,2002.79398 98.0830339,2004.99998 C98.0830339,2007.20598 96.2517256,2008.99998 93.9998492,2008.99998 C91.7489936,2008.99998 89.9166645,2007.20598 89.9166645,2004.99998 M103.955674,2016.63598 C103.213556,2013.27698 100.892265,2010.79798 97.837022,2009.67298 C99.4560048,2008.39598 100.400241,2006.33098 100.053171,2004.06998 C99.6509769,2001.44698 97.4235996,1999.34798 94.7348224,1999.04198 C91.0232075,1998.61898 87.8750721,2001.44898 87.8750721,2004.99998 C87.8750721,2006.88998 88.7692896,2008.57398 90.1636971,2009.67298 C87.1074334,2010.79798 84.7871636,2013.27698 84.044024,2016.63598 C83.7745338,2017.85698 84.7789973,2018.99998 86.0539717,2018.99998 L101.945727,2018.99998 C103.221722,2018.99998 104.226185,2017.85698 103.955674,2016.63598"
                            id="profile_round-[#1342]"
                        ></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    <p class="text email"><strong>Email:</strong> <%= user.email %></p>
    <p class="text role">
        <strong>Rolle:</strong> <%= user.roles.includes("admin") ? "Admin" :
        "User" %>
    </p>
    <p class="text verified">
        <strong>Verifiziert:</strong> <%= user.isVerified ? "Ja": "Nein" %>
    </p>

    <div class="adminpage-user-button-container">
        <% if (user.roles.includes("admin")) { %>
        <button
            class="adminpage-button Degradieren"
            data-user-id="<%= user.id %>"
        >
            Zum <strong>User</strong><br />Degradieren
        </button>
        <% } else { %>
        <button
            class="adminpage-button Befördern"
            data-user-id="<%= user.id %>"
        >
            Zum Admin<br />Befördern
        </button>
        <% } %> <% if (user.isBanned) { %>
        <button
            class="adminpage-button Entbannen"
            data-user-id="<%= user.id %>"
        >
            Entbannen
        </button>
        <% } else { %>
        <button class="adminpage-button Bannen" data-user-id="<%= user.id %>">
            Bannen
        </button>
        <% } %>
    </div>

    <% ["Bannen", "Entbannen", "Befördern", "Degradieren"].forEach(action => {
    %>
    <div
        class="adminpage-overlay-container <%= action %> hide"
        id="adminpage-overlay-<%= action %>-<%= user.id %>"
    >
        <div class="blur"></div>
        <div class="adminpage-overlay-inner">
            <p>
                Sind Sie sicher, dass Sie den Nutzer <%= user.email %> <%=
                action %> wollen?
            </p>
            <div class="adminpage-overlay-button-container">
                <% if (action === "Bannen") { %>
                <button
                    class="adminpage-button confirm"
                    onclick="handleBannUser('<%= user.id %>', '<%= token %>')"
                >
                    Bannen
                </button>
                <% } else if (action === "Entbannen") { %>
                <button
                    class="adminpage-button confirm"
                    onclick="handleUnBannUser('<%= user.id %>', '<%= token %>')"
                >
                    Entbannen
                </button>
                <% } else if (action === "Befördern") { %>
                <button
                    class="adminpage-button confirm"
                    onclick="handleMakeUserAdmin('<%= user.id %>', '<%= token %>')"
                >
                    Befördern
                </button>
                <% } else if (action === "Degradieren") { %>
                <button
                    class="adminpage-button confirm"
                    onclick="handleRemoveAdminFromUser('<%= user.id %>', '<%= token %>')"
                >
                    Degradieren
                </button>
                <% } %>
                <button class="adminpage-button abbruch">Abbruch</button>
            </div>
        </div>
    </div>
    <% }); %>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const actions = ["Bannen", "Entbannen", "Befördern", "Degradieren"]

        actions.forEach((action) => {
            const buttons = document.querySelectorAll(
                `.adminpage-button.${action}`
            )

            buttons.forEach((button) => {
                const userId = button.dataset.userId

                button.addEventListener("click", function () {
                    const overlay = document.getElementById(
                        `adminpage-overlay-${action}-${userId}`
                    )
                    if (overlay) overlay.classList.remove("hide")

                    const blur = overlay.querySelector(".blur")
                    const cancel = overlay.querySelector(".abbruch")

                    blur.addEventListener("click", () =>
                        overlay.classList.add("hide")
                    )
                    cancel.addEventListener("click", () =>
                        overlay.classList.add("hide")
                    )
                })
            })
        })
    })
</script>
