<div id="wishlistPage-content">
    <script>
        function toggleDropdown(button) {
            const container = button.parentElement
            const content = container.querySelector(
                ".dropdown-content.detailed-wishlist"
            )
            // const arrow = container.querySelector('.dropdown-arrow.detailed-wishlist');
            // arrow.classList.toggle('rotated')
            content.classList.toggle("hide")
        }
    </script>

    <div class="Überschrift">
        <h2><%=wishlist.name%></h2>
        <button class="überschriftButton" onclick="toggleEditOverlay()">
            Bearbeiten
        </button>
        <a
            class="überschriftButton"
            href="http://localhost:3000/wishlist/<%=wishlist.id %>/members"
        >
            User Verwalten
        </a>
    </div>
    <% wishlist.wishlistItems.forEach((item)=>{%>
    <div class="DetailedwishlistItem">
        <div class="Produktinfos">
            <img
                class="heart"
                src="http://localhost:3000/img/heart-svgrepo-com.svg"
                alt="Entfernen"
            />
            <a href="/product/<%= item.product.id %>" class="produktlink">
                <img
                    class="Produktbild"
                    src="<%= `/img/products/${item.product.id}.png` || '/img/BeispielImg.png' %>"
                    alt="Produktbild"
                />
                <div class="Artikelinformationen">
                    <p>Artikel-Name: <%=item.product.name%></p>
                    <p>Artikel-Nr.: <%=item.product.id%></p>
                </div>
            </a>
        </div>

        <div class="buttons">
            <div class="anzahl-button dropdown-container detailed-wishlist">
                    <button class="wishlistitem dropdown-button" onclick="toggleDropdown(this)">
                        <svg class="dropdown-arrow wishlistitem" viewBox="0 -4.5 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <title>arrow_up [#337]</title>
                                <desc>Created with Sketch.</desc>
                                <defs> </defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Dribbble-Light-Preview" transform="translate(-260.000000, -6684.000000)" fill="#000000">
                                        <g id="icons" transform="translate(56.000000, 160.000000)">
                                            <path
                                                d="M223.707692,6534.63378 L223.707692,6534.63378 C224.097436,6534.22888 224.097436,6533.57338 223.707692,6533.16951 L215.444127,6524.60657 C214.66364,6523.79781 213.397472,6523.79781 212.616986,6524.60657 L204.29246,6533.23165 C203.906714,6533.6324 203.901717,6534.27962 204.282467,6534.68555 C204.671211,6535.10081 205.31179,6535.10495 205.70653,6534.69695 L213.323521,6526.80297 C213.714264,6526.39807 214.346848,6526.39807 214.737591,6526.80297 L222.294621,6534.63378 C222.684365,6535.03868 223.317949,6535.03868 223.707692,6534.63378"
                                                id="arrow_up-[#337]"> </path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <span>
                            Anzahl: <%= item?.amount %>
                        </span>
                    </button>
                <div
                    class="anzahl-popup dropdown-content hide detailed-wishlist"
                >
                    <% for (let i=1; i <=5; i++) { %>
                    <p
                        onclick="handleUpdateWishlistItemAmount('<%= item.id %>' ,'<%= i %>', '<%= token %>')"
                        data-wert="<%= i %>"
                    >
                        <%= i %>
                    </p>
                    <% } %>
                </div>
            </div>
            <button
                id="buy"
                onclick="handleAddtocart('<%= item.product.id %>', '<%= token %>', '<%= item.amount %>')"
            >
                In den Warenkorb
            </button>

            <img
                onclick="handleDeleteWishlistItemById('<%= item.id %>', '<%= token %>')"
                class="trash"
                src="http://localhost:3000/img/depositphotos_649330112-stock-illustration-garbage-bin-line-icon-linear-removebg-preview.png"
                alt="Löschen"
                >
        </div>
    </div>
    <%}) %>

    <div class="overlay-container hide edit-overlay" id="edit-overlay">
        <div class="blur" onclick="toggleEditOverlay()"></div>
        <div class="overlay-inner">
            <div class="input-container">
                <label for="wishlistName">Name: </label>
                <input
                    id="wishlistName"
                    name="wishlistName"
                    class="default-input"
                    value="<%= wishlist.name %>"
                />
                <label for="description">Beschreibung:</label>
                <textarea
                    name="description"
                    id="description"
                    class="default-textarea"
                    value="<%= wishlist.description %>"
                >
<%= wishlist.description %></textarea
                >
            </div>
            <div class="overlay-button-container">
                <button
                    class="overlay-button abbruch"
                    onclick="handleAbbruch()"
                >
                    Abbruch
                </button>
                <button
                    class="overlay-button confirm"
                    onclick="handleUpdateWishlistInfo('<%= wishlist.id %>', '<%= token %>')"
                >
                    Speichern
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function handleAbbruch() {
        const description = (document.getElementById("description").value =
            "<%=wishlist.description %>")
        const wishlistName = (document.getElementById("wishlistName").value =
            "<%=wishlist.name %>")
        toggleEditOverlay()
    }

    function toggleEditOverlay() {
        const overlay = document.getElementById("edit-overlay")
        overlay.classList.toggle("hide")
    }
</script>
