<div id="wishlistPage-content">
    <div class="Überschrift">
        <h2> <%=wishlist.name%> </h2>
        <button> Bearbeiten </button>
    </div>
    <% wishlist.wishlistItems.forEach((item)=>{%>
            <div class="DetailedwishlistItem">
                <div class="Produktinfos">
                    <img class="heart"src="http://localhost:3000/img/heart-svgrepo-com.svg" alt="Entfernen">
                    <a href="/products/<%= item.product.id %>" class="produktlink">
                        <img class="Produktbild" src="http://localhost:3000/img/BeispielImg.png" alt="Produktbild">
                        <div class="Artikelinformationen"> 
                            <p>Artikel-Name: <%=item.product.name%> </p>
                            <p>Artikel-Nr.: <%=item.product.id%> </p>
                        </div>
                    </a>
                </div>
                <div class="buttons">
                    <button class="info">Anzahl: <%=item.amount%> </button>
                    <button id="buy" onclick="handleAddtocart('<%= item.product.id %>', '<%= token %>')">In den Warenkorb</button>
                    <img class="trash" src="http://localhost:3000/img/depositphotos_649330112-stock-illustration-garbage-bin-line-icon-linear-removebg-preview.png" alt="Löschen">
                </div>
            </div>
    <%}) %>
    <button class="newprofile">
        <p> Neue Wunschliste erstellen </p>
    </button>
</div>
